body {
    padding: 3% 5%;
}

h1 {
    color: red;
}

.point-button {
    padding: 1% 5%;
    background-color: blue;
    border-radius: .25em;
    color: white;
    text-decoration: none;
}

.errormessage {
    color: orange;
}